streamlit==0.63.0
torch==1.5.1
torchvision==0.6.1
segmentation-models-pytorch==0.1.0
numpy==1.19.0
opencv-python==4.2.0.34
Pillow==7.1.2
rasterio==1.1.5
scikit-learn==0.23.1
-e ./package # awesome-streamlit extensions